#exerciseMCSelectionDiv > * {

    display: inline;

}

.quizMCAnswerDiv > * {

    display: inline;

}

#video {

    max-width: 1280px;
    max-height: 720px;

}

#paragraph {

    text-align: left;

}