h4 {

    font-size: 20px;

}

.numbering {

    font-size: 64px

}

#first-sect {

    max-height: 70vw;

    overflow: hidden;

}


#quote {

    font-size: 72px;

    font-family: Luminari, fantasy;
    font-style: italic;

    max-height: 0.5*100vw;

    border-style: solid;

}