table {

    flex-direction: column;

}

input {

    margin-right: 32px;

}

a {

    color: inherit;

    text-decoration: none;

}

a:hover, a:focus, a:active {

    color: gray;

}

.display-container {

    background-color: lightgrey;
    
    border-color: black;
    border-style: solid;
    
    width: 300px;
    height: 400px;
    
}

.course-title {

    width: 300px;

    text-transform: none;

    border-style: none;

    color: black;

}