<main>

    <table>

        <div>
        
            <tr><td><h5>Details</h5></td></tr>
            
            <tr>

                <td>Username:</td>
                <td>John Doe</td>
                <td><button>Change Username</button></td>

            </tr>

            <tr>

                <td>Email:</td>
                <td>example@example.com</td>
                <td><button>Change Email</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>Security</h5></td></tr>

            <tr>

                <td>Something you know:</td>
                
                <td>
                    
                    <select>

                        <option>None</option>
                        <option>Password</option>
                        <option>Pattern</option>

                    </select>

                </td>

                <td><button>Reset</button></td>

            </tr>

            <tr>
                <td>Something you have:</td>
                
                <td>

                    <select>


                        <option>None</option>
                        <option>Email</option>
                        <option>Authenitcator App</option>
                        <option>Hardware Key</option>

                    </select>

                </td>

                <td><button>Reset</button></td>

            </tr>

            <tr>

                <td>Something you are:</td>

                <td>

                    <select>

                        <option>None</option>
                        <option>Face Recognition</option>
                        <option>Voice Recognition</option>

                    </select>

                </td>

                <td><button>Reset</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>Subscription</h5></td></tr>

            <tr>

                <td>Subscription:</td>
                <td>

                    <select>

                        <option>None</option>
                        <option>Monthly</option>
                        <option>Yearly</option>

                    </select>

                </td>

            </tr>

            <tr>

                <td>Payment method:</td>
                <td>Card ending in 1234</td>
                <td><button>Update payment method</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>Account</h5></td></tr>

            <tr>

                <td><button>Delete Account</button></td>

            </tr>
    
        </div>

    </table>

</main>