<main>

    <p id="error"></p>

    <dialog id="changeUsernameDialog">

        <p id="changeUsernameError"></p>

        <form>

            <label for="usernamePasswordField">Please re-enter your password:</label>
            <input type="password" id="usernamePasswordField" name="usernamePasswordField">

            <label for="newUsernameField">Please enter your new username:</label>
            <input type="text" id="newUsernameField" name="newUsernameField">

        </form>

        <button id="changeUsername">Submit</button>
  
      </dialog>

      <dialog id="changeEmailDialog">

        <p id="changeEmailError"></p>

        <form>

            <label for="emailPasswordField">Please re-enter your password:</label>
            <input type="password" id="emailPasswordField" name="emailPasswordField">

            <label for="newEmailField">Please enter your new email:</label>
            <input type="email" id="newEmailField" name="newEmailField">

        </form>

        <button id="changeEmail">Submit</button>
  
      </dialog>

      <dialog id="changePasswordDialog">

        <p id="changePasswordError"></p>

        <form>

            <label for="passwordPasswordField">Please enter your old password:</label>
            <input type="password" id="passwordPasswordField" name="passwordPasswordField">

            <label for="newPasswordField">Please enter your new password:</label>
            <input type="password" id="newPasswordField" name="newPasswordField">

        </form>

        <button id="changePassword">Submit</button>
  
      </dialog>

    <table>

        <div>
        
            <tr><td><h5>Details</h5></td></tr>
            
            <tr>

                <td>Username:</td>
                <td><%= username %></td>
                <td><button onclick="document.getElementById('changeUsernameDialog').showModal()">Change Username</button></td>

            </tr>

            <tr>

                <td>Email:</td>
                <td><%= email %></td>
                <td><button onclick="document.getElementById('changeEmailDialog').showModal()">Change Email</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>Security</h5></td></tr>

            <tr>

                <td>Password:</td>
                <td><button onclick="document.getElementById('changePasswordDialog').showModal()">Change Password</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>Subscription</h5></td></tr>

            <tr>

                <td>Subscription:</td>
                <td>

                    <select>

                        <option>None</option>
                        <option>Monthly</option>
                        <option>Yearly</option>

                    </select>

                </td>

            </tr>

            <tr>

                <td>Payment method:</td>
                <td>Card ending in 1234</td>
                <td><button>Update payment method</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>Account</h5></td></tr>

            <tr><td><button id="signout">Signout</button></td></tr>
            <tr><td><button id="deleteAccount">Delete Account</button></td></tr>
    
        </div>

    </table>

</main>