<main>

    <p>To contact Aristotle Academy, both for customer support and business purposes, please email <a href="mailto:contact@aristotle.academy" style="color: blue; text-decoration: underline;">contact@aristotle.academy</a>. Please note that since Aristotle Academy is a sole trader business, it may take a while to receive a response.</p>

</main>