<dialog id="quizScoreDialog">

    <h5>Congrats! You got a:</h5>
    <br>
    <h4 id="quizScore"></h4>
    <br>
    <h5>on your quiz.</h5>

    <button onclick="submitQuiz()">Continue</button>

</dialog>

<dialog id="correctDialog">

    <h3>Correct!!!</h3>

</dialog>

<dialog id="incorrectDialog">

    <h3>Not quite</h3>

</dialog>

<main>

    <div id="chatgptHelpIconDiv">

        <p id="chatgptHelpTooltip">Get help from GPT-4 →</p>
        <img id="chatgptHelpIconImg" src="images/chatgpt-help-icon.png" width="48px" height="48px">

    </div>

    <div id="chatgptHelpChatDiv" class="center" style="display: none;">

        <div id="chatgptHelpChatHeaderDiv" class="center">

            <h4 id="chatgptHelpChatHeaderText" class="chatgptHelpChatHeaderElem">Chat With GPT-4</h4>

        </div>

        <div id="chatgptHelpChatMainDiv">


        </div>

        <div id="chatgptHelpChatInputDiv">

            <textarea id="chatgptHelpChatInputText" placeholder="Ask your question"></textarea>
            <button id="chatgptHelpChatInputBtn">Send</button>

        </div>

    </div>

    <p id="error"></p>

    <div id="infoDiv">
    
        <h2>Course: <%= courseName %></h2>
        <h3>Lesson: <%= topicName %></h3>
        <h4>Lesson progress:
            <div id="lessonProgress"></div>
        </h4>
    
    </div>

    <br>

    <div class="center">
    
        <table id="contentDiv">
    
            <tr>
    
                <td>
    
                    <video id="video" width="1280" height="720" controls style="display: none;">
    
                        <source type="video/mp4">
    
                    </video>
    
                </td>
    
                <td>
                    <p id="paragraph" style="display: none;"></p>
                </td>
    
                <td>
                    <section id="exercise" style="display: none;"></section>
                </td>
    
                <td>
                    <section id="quiz" style="display: none;"></section>
                </td>
    
            </tr>
    
            <tr>
    
                <td><button id="back" class="button-left" disabled>Back</button></td>
                <td><button id="continue" class="button-right" disabled>Continue</button></td>
    
            </tr>
    
        </table>
    
    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>