<dialog id="quizScoreDialog">

    <h5>Congrats! You got a:</h5>
    <br>
    <h4 id="quizScore"></h4>
    <br>
    <h5>on your quiz.</h5>

    <button onclick="submitQuiz()">Continue</button>

</dialog>

<main class="center">

    <p id="error"></p>

    <table>

        <tr>
    
            <td>
                
                <video id="video" width="1280" height="720" controls style="display: none;">
    
                    <source type="video/mp4">
    
                </video>
    
            </td>
    
            <td><p id="paragraph" style="display: none;"></p></td>
    
            <td><section id="exercise" style="display: none;"></section></td>
    
            <td><section id="quiz" style="display: none;"></section></td>
    
        </tr>

        <tr>

            <td><button id="back" class="button-left" disabled>Back</button></td>
            <td><button id="continue" class="button-right" disabled>Continue</button></td>

        </tr>
    
    </table>

</main>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>