<main class="center">

    <table>

        <tr>

            <td class="center">

                <h1>Congrats!</h1>

            </td>

        </tr>

        <tr>

            <td class="center">

                <h4>You have completed the <%= courseName %> course!</h4>

            </td>

        </tr>

        <tr>

            <td class="center">

                <button onclick="window.location.href='/learn'">Back to learn page</button>

            </td>

        </tr>

    </table>

</main>