<main>

    <p id="error"></p>

    <video id="video" width="1920" height="1080" controls style="display: none;">

        <source src="https://coursecontent.aristotle.academy/test-video.mp4" type="video/mp4">

    </video>

    <p id="text" style="display: none;"></p>

    <section id="exercise" style="display: none;"></section>

</main>