<main class="center">

    <p id="error"></p>

    <div>
    
        <video id="video" width="1280" height="720" controls style="display: none;">
    
            <source type="video/mp4">
    
        </video>
    
        <p id="paragraph" style="display: none;"></p>
    
        <section id="exercise" style="display: none;"></section>
    
        <section id="quiz" style="display: none;"></section>
    
    </div>

    <button id="continue" disabled>Continue</button>

</main>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>