<main>

    <p id="error"></p>

    <video id="video" width="1920" height="1080" controls>

        <source type="video/mp4">

    </video>

    <p id="paragraph"></p>

    <section id="exercise"></section>

    <section id="quiz"></section>

</main>