<main style="display: block;">

    <p id="error" class="center"></p>

    <dialog id="reenterPasswordDialog">

        <button onclick="document.getElementById('reenterPasswordDialog').close()">Close</button>

        <p id="reenterPasswordError"></p>

        <form>

            <label for="reenterPasswordField" class="passwordLabel">Please re-enter your password:
                <img class="showPassword reenterPassword" src="images/show-password.png" width="32px" height="32px">
                <img class="hidePassword reenterPassword" src="images/hide-password.png" width="32px" height="32px" style="display: none;">
            </label>
            <input type="password" id="reenterPasswordField" class="reenterPassword" name="reenterPasswordField">

        </form>

        <button id="checkout-btn">Submit</button>
  
    </dialog>

    <h4 id="courseTitle" class="center">Get the <%= courseName %> course</h4>

    <div class="justify">

        <section id="courseOption" class="display-container" style="display: none;">

            <h4>Course</h4>

            <button onclick="item=new URLSearchParams(window.location.search).get('courseID');document.getElementById('reenterPasswordDialog').showModal()"><%= coursePrice %> for the just this course</button>

        </section>

        <section class="display-container">

            <h4>Monthly</h4>

            <button onclick="item='monthly-sub';document.getElementById('reenterPasswordDialog').showModal()"><%= monthlyPrice %> every month for all courses</button>
            
        </section>

        <section class="display-container">

            <h4>Yearly</h4>

            <button onclick="item='yearly-sub';document.getElementById('reenterPasswordDialog').showModal()"><%= yearlyPrice %> every year for all courses</button>

        </section>

    <button id="showMoreOptions-btn" onclick="$('#courseOption').show(); $('#showMoreOptions-btn').hide()" class="center">Show More Options</button>

    </div>

    <div class="center" style="display: block;">

        <h4>OR</h4>

        <label for="schoolAccessCode">Enter school access code</label>
        <input type="text" id="schoolAccessCode" name="schoolAccessCode">
        <button id="submitSchoolAccessCode">Submit</button>

    </div>

</main>