<main style="display: block;">

    <p id="error" class="center"></p>

    <dialog id="reenterPasswordDialog">

        <button onclick="document.getElementById('reenterPasswordDialog').close()">Close</button>

        <p id="reenterPasswordError"></p>

        <form>

            <label for="reenterPasswordField">Please re-enter your password:</label>
            <input type="password" id="reenterPasswordField" name="reenterPasswordField">

        </form>

        <button id="checkout-btn">Submit</button>
  
      </dialog>

    <div class="justify">

        <section class="display-container">

            <h4>Course</h4>

            <button onclick="item=new URLSearchParams(window.location.search).get('courseID');document.getElementById('reenterPasswordDialog').showModal()"><%= coursePrice %> for the <%= courseName %> course</button>

        </section>

        <section class="display-container">

            <h4>Monthly</h4>

            <button onclick="item='monthly-sub';document.getElementById('reenterPasswordDialog').showModal()"><%= monthlyPrice %> every month for all courses</button>
            
        </section>

        <section class="display-container">

            <h4>Yearly</h4>

            <button onclick="item='yearly-sub';document.getElementById('reenterPasswordDialog').showModal()"><%= yearlyPrice %> every year for all courses</button>

        </section>

    </div>

    <div class="center" style="display: block;">

        <h4>OR</h4>

        <label for="schoolAccessCode">Enter school access code</label>
        <input type="text" id="schoolAccessCode" name="schoolAccessCode">
        <button id="submitSchoolAccessCode">Submit</button>

    </div>

</main>