<main>

  <section id="first-sect">

    <h1 id="quote" class="center"><q>Everybody is a genius. But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid.</q> - Albert Einstein</h1>

  </section>

  <h1 id="key-point-1" class="center">Everyone Learns Differently</h1>

  <h2 id="key-point-2" class="center">That's why we use artificial intelligence to adapt to your individual learning
    style and skill set with a 3-step AI system:</h2>

  <section id="second-sect">

    <h3 class="center numbering">1.</h3>
    <h3 class="center">Predict content type</h3>
    <h5 class="center">For each part of your lessons, our AI system will use a reinforcement learning system called Q-learning to determine which type of content you should be shown to best suit your learning, either a video, paragraph, or an exercise. This system takes into account your current position in your lesson, and adapts to your learning needs over time.</h5>

    <h3 class="center numbering">2.</h3>
    <h3 class="center">Accelerate or decelerate learning</h3>
    <h5 class="center">Next, our AI systems will, based on your quiz scores and engagment metrics, calculatea how much revision is required for each topic, ensuring that you always learning and engaged.</h5>

    <h3 class="center numbering">3.</h3>
    <h3 class="center">Skip already covered topics</h3>
    <h5 class="center">Our final measure to further your learning experience is a a skipping of topics if you have already covered them in another course.</h5>

  </section>

</main>