<main>

  <div id="sect1" class="sect left-sect justify">

    <div>

      <h3>Everybody is a <b>genius</b>. But if you <b>judge</b> a <b>fish</b> by its <b>ability</b> to climb a <b>tree</b>, it will live its whole life
        <b>believing</b> that it is <b>stupid</b>. - Albert Einstein</h3>

    </div>

    <img src="images/albert-einstein.jpg" width="480" height="640">

  </div>

  <div id="sect2" class="sect right-sect justify">

    <video id="video" width="576" height="480" autoplay muted playsinline loop>

      <source src="videos/exercise-example.mp4">

    </video>

    <div>

      <h3>Everyone Learns Differently</h3>
      <h4>That's why we use artificial intelligence to adapt to your individual learning
        style and skill set with a 3-step AI system:</h2>

    </div>

  </div>

  <div id="sect3" class="sect left-sect justify">

    <div>

      <h3 class="numbering">1</h3>
      <h3>Predict content type</h3>
      <h5>For each part of your lessons, our AI system will use a reinforcement learning system called
        Q-learning to determine which type of content you should be shown to best suit your learning, either a video,
        paragraph, or an exercise. This system takes into account your current position in your lesson, and adapts to
        your learning needs over time.</h5>

    </div>

    <img src="images/video-example.png" width="1164" height="480">

  </div>

  <div id="sect4" class="sect right-sect justify">

    <img src="images/quiz-example.png" width="1013" height="480">

    <div>

      <h3 class="numbering">2</h3>
      <h3>Accelerate or decelerate learning</h3>
      <h5>Next, our AI systems will, based on your quiz scores and engagement metrics, calculate how much revision is
        required for each topic, ensuring that you always learning and engaged.</h5>

    </div>

  </div>

  <div id="sect5" class="sect left-sect justify">

    <div>

      <h3 class="numbering">3</h3>
      <h3>Skip already covered topics</h3>
      <h5>Our final measure to further your learning experience is a a skipping of topics if you have already covered
        them in another course.</h5>

    </div>

    <img src="images/text-example.png" width="1390" height="480">

  </div>

</main>