<main>

  <section id="first-sect">

    <h1 id="quote" class="center"><q>Everybody is a genius. But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid.</q> - Albert Einstein</h1>

    <img id="main-img" src="./images/albert_einstein.jpg" alt="Image Unavailable">

  </section>

  <h1 id="key-point-1" class="center">Everyone Learns Differently</h1>

  <h2 id="key-point-2" class="center">That's why we use artificial intelligence to adapt to your individual learning
    style and skill set with a 3-step AI system:</h2>

  <section id="second-sect">

    <h3 class="center numbering">1.</h3>
    <h3 class="center">Group Courses</h3>
    <h5 class="center">The first thing we do is group the courses we offer by how succecful you and others are in each
      course. This allows us to get a good idea about what types of people tend to be good at what courses.</h5>

    <h3 class="center numbering">2.</h3>
    <h3 class="center">Group Students</h3>
    <h5 class="center">Next, we group you and others based on how you do at certain courses, allowing us to accertain
      where your skill set lies and what type of learning and work you are good at.</h5>

    <h3 class="center numbering">3.</h3>
    <h3 class="center">Learn</h3>
    <h5 class="center">After grouping is complete, both you and our AI system learn. As you complete your courses, our
      AI system learns based on your quiz results how you respond to different types of learning using a Q-learning
      model. The AI system then uses this data to determine a variety of thigns about your learning, such as the type of
      content you learn with, the speed of your learning, and many other things.</h5>

  </section>

</main>