<main>

  <nav>

    <label for="paidOnly">Only Include Paid For Content</label>
    <input type="checkbox" id="paidOnly" onchange="getGenerateCourseElems();">

  </nav>

  <nav></nav>

  <p id="error" class="center"></p>

  <table id="courseList" class="justify"></table>

</main>