<main class="center" style="display: grid;">

    <h1 class="center">Reset Password</h1>

    <p id="error" class="center"></p>

    <div id="recoveryMethodDiv" style="display: grid;">

        <label for="recoveryMethod">Please select a recovery method:</label>
        <select id="recoveryMethod" name="recoveryMethod">

            <option value="email">Email</option>
            <option value="username">Username</option>

        </select>

        <button id="submitRecoveryMethod-btn">Submit</button>

    </div>

    <div id="emailDiv" class="valDiv" style="display: grid; visibility: hidden;">

        <label for="email">Please enter your email:</label>
        <input type="email" id="email" class="val" name="email">

        <button class="submitVal-btn">Submit</button>

    </div>

    <div id="usernameDiv" class="valDiv" style="display: grid; visibility: hidden; display: none;">

        <label for="email">Please enter your username:</label>
        <input type="text" id="username" class="val" name="username">

        <button class="submitVal-btn">Submit</button>

    </div>

    <div id="newPasswordDiv" style="display: grid; visibility: hidden;">

        <label for="code">Please enter the code we sent to your email:</label>
        <input type="text" id="code" name="code">

        <label for="password">Please enter your new password:</label>
        <input type="password" id="password" name="password">

        <button id="submitNewPassword-btn">Submit</button>

    </div>

</main>