<main class="center" style="display: grid;">

    <h2>Get Aristotle Academy - Learn 2.0 for your school!</h2>

    <p>Already have a school subscription? Manage it&nbsp<a href="./manageSchool" style="color: blue;">here</a>.</p>

    <p>This page is for the school admins. For schools, we offer discounted subscription prices as well as a single code
        that all students can use to access the subscription. The students will create accounts as normal, and then on
        their account page will enter this code to access the school subscription. Additionally, some of all courses are made in line with the
        Australian Curriculum.</p>

    <button onclick="window.location.href='./purchaseSchoolSub'">Click here to purchase a school subscription</button>

</main>