<main>

  <h1 class="center">Sign Up</h1>

  <p id="error" class="center"></p>

  <div class="center">

    <form onsubmit="return false;">

      <div id="usernameDiv">

        <label for="username">Username</label>
        <input type="text" id="username" name="username">

      </div>

      <div id="emailDiv">

        <label for="Email">Email</label>
        <input type="email" id="email" name="email">

      </div>

      <div id="passwordDiv">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

      </div>

      <button onclick="signup()">Sign Up</button>

    </form>

  </div>

  <p class="center">Already have an account?&nbsp<a href="./signin" style="color: blue;">Sign in</a>.</p>

</main>