<main>

  <h1 class="center">Sign In</h1>

  <p id="error" class="center"></p>

  <div class="center">

    <form onsubmit="return false;">

      <div id="usernameDiv">

        <label for="username">Username</label>
        <input type="text" id="username" name="username">

      </div>

      <div id="passwordDiv">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

      </div>

      <button onclick="signin()">Sign In</button>

    </form>

  </div>

  <p class="center">Dont have an account yet?&nbsp<a href="./signup" style="color: blue;">Sign up</a>.</p>

</main>